<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="WorkDefinitionProvider"
         name="WorkDefinitionProvider"
         point="org.eclipse.osee.ats.AtsWorkDefinitionProvider">
      <AtsWorkDefinitionProvider
            classname="org.eclipse.osee.ats.dsl.integration.AtsDslWorkDefinitionProvider">
      </AtsWorkDefinitionProvider>
   </extension>

</plugin>
