<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.osee.ats.AtsNavigateItem">
      <AtsNavigateItem
            classname="org.eclipse.osee.reports.burndown.ui.ProjectModuleReports">
      </AtsNavigateItem>
   </extension>

</plugin>
