<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.osee.ote.container.OteClasspathContainerInitializer"
            id="OTE Classpath Container from the extension point">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.eclipse.osee.ote.container.OteContainerPage"
            id="org.eclipse.osee.ote.container.classpathContainerPage"
            name="OTE Classpath Container please use this">
      </classpathContainerPage>
   </extension>

</plugin>
