[core]
        autocrlf = false
        eol = lf
[color]
        ui = auto
[http]
        proxy = www-slb-proxy.boeing.com:31060
        sslcainfo = bin/curl-ca-bundle.crt
        sslverify = false
        postbuffer = 524288000
[merge]
        conflictstyle = diff3
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
