[core]
        autocrlf = false
        eol = lf
        askpass = userHomeDir/.managePasswords

[color]
        ui = auto

[http]
        sslcainfo = bin/curl-ca-bundle.crt
        sslverify = false
        postbuffer = 524288000

[merge]
        tool = kdiff3
        
[mergetool]
        keepBackup = false

[mergetool "kdiff3"]
        path = "/c/Program Files/KDiff3/kdiff3.exe"
        trustExitCode = false

[pack]
        packSizeLimit = 2g

[diff]
	guitool = kdiff3
	
[difftool "kdiff3"]
	path = c:/Program Files/KDiff3/kdiff3.exe        

[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        passwd = !~/.managePasswords update
