<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="CoverageNavigateItem" name="CoverageNavigateItem" schema="schema/CoverageNavigateItem.exsd"/>
	<extension point="org.eclipse.ui.editors">
		  <editor
		        class="org.eclipse.osee.coverage.results.CoverageImportResultsEditor"
		        default="false"
		        icon="images/coverage.gif"
		        id="org.eclipse.osee.coverage.results.CoverageImportResultsEditor"
		        name="Coverage Import Editor">
		  </editor>
      <editor
            class="org.eclipse.osee.coverage.editor.CoverageEditor"
            default="false"
            icon="images/coverage.gif"
            id="org.eclipse.osee.coverage.editor.CoverageEditor"
            name="Coverage Editor">
      </editor>
      </extension>
      <extension
            point="org.eclipse.ui.perspectives">
         <perspective
               class="org.eclipse.osee.coverage.internal.CoveragePerspectiveFactory"
               fixed="false"
               icon="images/coverage.gif"
               id="osee.coverage.PerspectiveFactory"
               name="Coverage"/>
      </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
            <perspectiveShortcut id="osee.define.PerspectiveFactory"/>
         </perspectiveExtension>
         <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
            <perspectiveShortcut id="osee.define.PerspectiveFactory"/>
         </perspectiveExtension>
         <perspectiveExtension targetID="osee.define.PerspectiveFactory">
            <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
            <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
            <perspectiveShortcut id="org.eclipse.osee.ats.ATSPerspective"/>
         </perspectiveExtension>
      </extension>
      <extension
         point="org.eclipse.ui.views">
      <category
            name="OSEE Coverage"
            id="osee.coverage.category">
      </category>
      <view
            allowMultiple="false"
            category="osee.coverage.category"
            class="org.eclipse.osee.coverage.navigate.CoverageNavigateView"
            icon="images/coverage.gif"
            id="org.eclipse.osee.coverage.navigate.CoverageNavigateView"
            name="Coverage Navigator"/>
   </extension>
      <extension
            point="org.eclipse.osee.framework.ui.skynet.XWidgetProvider">
         <XWidgetProvider
               classname="org.eclipse.osee.coverage.util.widget.CoverageXWidgetFactory">
         </XWidgetProvider>
      </extension>
      <extension
            id="OseeTypes_Coverage"
            name="OseeTypes_Coverage"
            point="org.eclipse.osee.framework.skynet.core.OseeTypes">
         <OseeTypes
               resource="support/OseeTypes_Coverage.osee">
         </OseeTypes>
      </extension>
</plugin>
