<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.launchGroup">
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.0.name" value="Messaging_Integration_TestSuite"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.1.name" value="OrcsDbTestSuite"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.2.name" value="OrcsIntegrationTestSuite"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.action" value="DELAY"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.actionParam" value="5"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.3.name" value="OSEE_Application_Server_[HSQLDB]"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.4.name" value="OseeClient_Integration_TestSuite"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.5.name" value="AtsClient_Integration_TestSuite"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.action" value="WAIT_FOR_TERMINATION"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.enabled" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.mode" value="default"/>
<stringAttribute key="org.eclipse.cdt.launch.launchGroup.6.name" value="Coverage_Integration_TestSuite"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
