import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {

    //
    // HTTPD Service
    //
    private static httpd_codebase = "";
    private static httpd_policy = "${osee.jini.config}/jsk-all.policy";
    private static httpd_classpath = "${osee.jini.install}/lib/classserver.jar";
    private static httpd_impl = "com.sun.jini.tool.ClassServer";
    private static httpd_service = 
        new NonActivatableServiceDescriptor(
            httpd_codebase, httpd_policy, httpd_classpath, httpd_impl,
            new String[]{"-port", "${osee.classserver.port}", "-dir", "${osee.jini.install}/lib-dl", "-verbose"});
	   
    //	   
    // Fiddler (Lookup Discovery Service)
    //
  
    //	   
    // Reggie (Lookup Service)
    //
    private static reggie_codebase = "http://${osee.classserver.host}:${osee.classserver.port}/reggie-dl.jar"
	+ " http://${osee.classserver.host}:${osee.classserver.port}/jsk-dl.jar";
    private static reggie_policy = "${osee.jini.config}/jsk-all.policy";
    private static reggie_classpath = "${osee.jini.install}/lib/reggie.jar";
    private static reggie_config = "${osee.jini.config}/transient-reggie.config";
    private static reggie_impl = "com.sun.jini.reggie.TransientRegistrarImpl";
    private static reggie_service = 
        new NonActivatableServiceDescriptor(
            reggie_codebase, reggie_policy, reggie_classpath, 
	    reggie_impl, new String[] { reggie_config });

    static serviceDescriptors = new ServiceDescriptor[] {
        httpd_service,
		reggie_service
    };
}