<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.eclipse.osee.framework.types.bridge.wizards.OseeTypesImportWizard"
            id="org.eclipse.osee.framework.types.bridge.osee.types.import"
            name="Osee Types Import">
      </wizard>
      <category id="org.eclipse.osee.define.import.category" name="OSEE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.eclipse.osee.framework.types.bridge.wizards.OseeTypesExportWizard"
            id="org.eclipse.osee.framework.types.bridge.osee.types.export"
            name="Osee Types Export">
      </wizard>
           <category id="org.eclipse.osee.framework.ui.skynet.export" name="OSEE">
     </category>
   </extension>
</plugin>
