<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.osee.define.import.category"
            class="org.eclipse.osee.framework.types.bridge.wizards.OseeTypesImportWizard"
            icon="images/gears.gif"
            id="org.eclipse.osee.framework.types.bridge.osee.types.import"
            name="Osee Types Import">
         <description>
            Imports OSEE Types
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.osee.framework.ui.skynet.export"
            class="org.eclipse.osee.framework.types.bridge.wizards.OseeTypesExportWizard"
            icon="images/gears.gif"
            id="org.eclipse.osee.framework.types.bridge.osee.types.export"
            name="Osee Types Export">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.osee.framework.new"
            name="OSEE">
      </category>
      <wizard
            category="org.eclipse.osee.framework.new"
            class="org.eclipse.osee.framework.types.bridge.wizards.NewOseeTypesFileWizard"
            id="org.eclipse.osee.framework.types.bridge.NewOseeTypesFile"
            name="New Osee Types">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.OseeTypesHandler">
      <OseeTypesHandler
            classname="org.eclipse.osee.framework.types.bridge.operations.XtextOseeTypesHandler">
      </OseeTypesHandler>
   </extension>
</plugin>
