<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="CreateNewDemoChangeRequestBlam"
         name="CreateNewDemoChangeRequestBlam"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.ide.demo.workflow.cr.CreateNewDemoChangeRequestBlam">
      </Operation>
   </extension>
    <extension
          id="AtsDbConfigDemoChoice"
          point="org.eclipse.osee.framework.database.init.DatabaseInitializationConfiguration">
    <DatabaseInitializationConfiguration
          classname="org.eclipse.osee.ats.ide.demo.config.AtsDbConfigDemoChoice">
    </DatabaseInitializationConfiguration>
 </extension>
      <extension
      	id="AtsDbConfigDemoIde"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
   			rule="org.eclipse.osee.framework.database.init.NotOnProductionDbInitializationRule"
      	   classname="org.eclipse.osee.ats.ide.demo.config.AtsDbConfigDemoIde">
   	</DatabaseInitializationTask>
	</extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactImageProvider">
      <ArtifactImageProvider
            class="org.eclipse.osee.ats.ide.demo.artifact.DemoArtifactImageProvider">
      </ArtifactImageProvider>
   </extension>
   <extension
         id="DemoTraceUnitHandler"
         name="DemoTraceUnitHandler"
         point="org.eclipse.osee.define.ide.TraceUnitHandler">
      <TraceUnitHandler
            TraceUnitParser="org.eclipse.osee.ats.ide.demo.traceability.DemoTraceParser"
            TraceUnitResourceLocator="org.eclipse.osee.ats.ide.demo.traceability.DemoTraceUnitResourceLocator">
      </TraceUnitHandler>
   </extension>
   <extension
         point="org.eclipse.osee.ats.ide.AtsWizardItem">
      <AtsWizardItem
            classname="org.eclipse.osee.ats.ide.demo.workflow.DemoPlAndSawWizardItem">
      </AtsWizardItem>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.plugin.XNavigateItemProvider">
      <XNavigateItemProvider
            classname="org.eclipse.osee.ats.ide.demo.navigate.DemoNavigateViewItems">
      </XNavigateItemProvider>
   </extension>
</plugin>
