<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/osee/framework/core/dsl/OseeDsl" 
       class = "org.eclipse.osee.framework.core.dsl.oseeDsl.OseeDslPackage"
       genModel = "org/eclipse/osee/framework/core/dsl/OseeDsl.genmodel" /> 
	
  </extension>

</plugin>
