<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
       point="org.eclipse.osee.framework.database.init.DatabaseInitializationConfiguration">
    <DatabaseInitializationConfiguration
          classname="org.eclipse.osee.coverage.demo.internal.AddCoverageDemoInitConfig">
    </DatabaseInitializationConfiguration>
    </extension>
   <extension
         id="AddCommonBranchForCoverageClientDemo"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.coverage.demo.internal.AddCommonBranchForClientDemo"
            rule="org.eclipse.osee.framework.database.init.NotOnProductionDbInitializationRule">
      </DatabaseInitializationTask>
   </extension>    
   <extension
         id="AddCoverageBranch"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.coverage.demo.internal.AddCoverageBranch"
            rule="org.eclipse.osee.framework.database.init.NotOnProductionDbInitializationRule">
      </DatabaseInitializationTask>
   </extension>
   <extension
         id="AddCoverageDemoUsers"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.coverage.demo.internal.AddCoverageDemoUsers"
            rule="org.eclipse.osee.framework.database.init.NotOnProductionDbInitializationRule">
      </DatabaseInitializationTask>
   </extension>
   <extension
         point="org.eclipse.osee.coverage.CoverageNavigateItem">
      <ICoverageNavigateItem
            classname="org.eclipse.osee.coverage.demo.examples.ui.CoverageExampleNavigateItems">
      </ICoverageNavigateItem>
   </extension>
   <extension
         id="COVERAGE_IMPORT_01"
         name="COVERAGE_IMPORT_01"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import01.CoverageImport1TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_02"
         name="COVERAGE_IMPORT_02"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import02.CoverageImport2TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_03"
         name="COVERAGE_IMPORT_03"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import03.CoverageImport3TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_04"
         name="COVERAGE_IMPORT_04"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import04.CoverageImport4TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_05"
         name="COVERAGE_IMPORT_05"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import05.CoverageImport5TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_06"
         name="COVERAGE_IMPORT_06"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import06.CoverageImport6TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_07"
         name="COVERAGE_IMPORT_07"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import07.CoverageImport7TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_08"
         name="COVERAGE_IMPORT_08"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import08.CoverageImport8TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_09"
         name="COVERAGE_IMPORT_09"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import09.CoverageImport9TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_10"
         name="COVERAGE_IMPORT_10"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import10.CoverageImport10TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_11"
         name="COVERAGE_IMPORT_11"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import11.CoverageImport11TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_11B"
         name="COVERAGE_IMPORT_11B"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import11.CoverageImport11bTestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_12"
         name="COVERAGE_IMPORT_12"   
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import12.CoverageImport12TestBlam">
      </Operation>
   </extension>
   <extension
         id="COVERAGE_IMPORT_13"
         name="COVERAGE_IMPORT_13" 
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.coverage.demo.examples.import13.CoverageImport13TestBlam">
      </Operation>
   </extension>    
</plugin>
