<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="OTEMasterServerProduct"
         name="OTE Master Server Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.osee.ote.master.app"
            description="OTE Master Server"
            name="OteMasterProduct">
         <property
               name="appName"
               value="OteMasterProduct">
         </property>
        
      </product>
   </extension>
   <extension
         id="org.eclipse.osee.ote.master.app"
         name="OTE Master Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.osee.ote.master.rest.internal.OTEMasterApplication">
         </run>
      </application>
   </extension>

</plugin>
