<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.osee.framework.database.AddDbInitChoice">
      <dbInitChoice
            classname="org.eclipse.osee.ats.config.demo.config.AddDbInitDemoChoice">
      </dbInitChoice>
   </extension>
   <extension
         id="AtsConfigDemoDatabaseConfig"
         name="AtsConfigDemoDatabaseConfig"
         point="org.eclipse.osee.framework.database.IDbInitializationTask">
      <DatabaseTask
            classname="org.eclipse.osee.ats.config.demo.config.AtsConfigDemoDatabaseConfig">
      </DatabaseTask>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.ArtifactTypeImage">
      <ArtifactImage
            ArtifactTypeName="Demo Code Team Workflow"
            ImagePath="images/workflow.gif">
      </ArtifactImage>
      <ArtifactImage
            ArtifactTypeName="Demo Req Team Workflow"
            ImagePath="images/workflow.gif">
      </ArtifactImage>
      <ArtifactImage
            ArtifactTypeName="Demo Test Team Workflow"
            ImagePath="images/workflow.gif">
      </ArtifactImage>
   </extension>
   <extension
         point="org.eclipse.osee.ats.AtsAIandTeamConfig">
      <AtsAIandTeamConfig
            vueFilename="support/Osee ATS Config Demo.vue">
      </AtsAIandTeamConfig>
   </extension>
   <extension
         point="org.eclipse.osee.ats.AtsVueWorkflowDiagram">
      <AtsVueWorkflowDiagram
            id="demo_test_workflow"
            vueFilename="support/demo_test_workflow.vue">
      </AtsVueWorkflowDiagram>
      <AtsVueWorkflowDiagram
            id="demo_req_workflow"
            vueFilename="support/demo_req_workflow.vue">
      </AtsVueWorkflowDiagram>
      <AtsVueWorkflowDiagram
            id="demo_code_workflow"
            vueFilename="support/demo_code_workflow.vue">
      </AtsVueWorkflowDiagram>
      <AtsVueWorkflowDiagram
            id="demo_sw_design_workflow"
            vueFilename="support/demo_sw_design_workflow.vue">
      </AtsVueWorkflowDiagram>
   </extension>
   <extension
         point="org.eclipse.osee.ats.AtsNavigateItem">
      <AtsNavigateItem
            classname="org.eclipse.osee.ats.config.demo.navigate.DemoNavigateViewItems">
      </AtsNavigateItem>
   </extension>
   <extension
         id="AddCommonBranchForAtsDemo"
         name="AddCommonBranchForAtsDemo"
         point="org.eclipse.osee.framework.database.IDbInitializationTask">
      <DatabaseTask
            classname="org.eclipse.osee.ats.config.demo.config.AddCommonBranchForAtsDemo">
      </DatabaseTask>
   </extension>
   <extension
         id="Demo_Common_Skynet_Types"
         name="Demo_Common_Skynet_Types"
         point="org.eclipse.osee.framework.skynet.core.SkynetDbTypes">
      <ExcelFile
            file="support/Demo_Common_Skynet_Types.xml">
      </ExcelFile>
   </extension>
   <extension
         point="org.eclipse.osee.ats.AtsTeamWorkflow">
      <AtsTeamWorkflow
            classname="org.eclipse.osee.ats.config.demo.artifact.DemoTeamWorkflows">
      </AtsTeamWorkflow>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.ArtifactFactory">
      <ArtifactFactory
            classname="org.eclipse.osee.ats.config.demo.artifact.DemoArtifactFactory">
      </ArtifactFactory>
   </extension>
   <extension
         id="Demo_Program_Skynet_Types"
         name="Demo_Program_Skynet_Types"
         point="org.eclipse.osee.framework.skynet.core.SkynetDbTypes">
      <ExcelFile
            file="support/Demo_Program_Skynet_Types.xml">
      </ExcelFile>
   </extension>

</plugin>
