<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.osee.ote.ui.markers.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               enablesFor="+"
               label="Clear OTE Markers"
               class="org.eclipse.osee.ote.ui.markers.ClearOteMarkerActionView"
               menubarPath="org.eclipse.osee.ote.ui/placeholder"
               id="org.eclipse.osee.ote.ui.markers.clearMarkers">
         </action>
      </objectContribution> 
      <viewerContribution
             targetID="#CompilationUnitEditorContext"
             id="markerConf">
          <action
                label="Clear OTE Markers"
                menubarPath="org.eclipse.osee.ote.ui.viewer/placeholder"
                id="org.eclipse.osee.ote.ui.markers.editorClearMarkers"
                class="org.eclipse.osee.ote.ui.markers.ClearOteMarkerAction"/>
      </viewerContribution>
       
   </extension>

</plugin>
