<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="AtsNavigateItem" name="AtsNavigateItem" schema="OSEE-INF/extensionPts/AtsNavigateItem.exsd"/>
   <extension-point id="AtsStateItem" name="AtsStateItem" schema="OSEE-INF/extensionPts/AtsStateItem.exsd"/>
   <extension-point id="AtsWizardItem" name="AtsWizardItem" schema="OSEE-INF/extensionPts/AtsWizardItem.exsd"/>
   <extension-point id="AtsWorldEditorItem" name="AtsWorldEditorItem" schema="OSEE-INF/extensionPts/AtsWorldEditorItem.exsd"/>
   <extension-point id="AtsHealthCheck" name="AtsHealthCheck" schema="OSEE-INF/extensionPts/AtsHealthCheck.exsd"/>
   <extension-point id="AtsAdvancedOperationAction" name="AtsAdvancedOperationAction" schema="OSEE-INF/extensionPts/AtsAdvancedOperationAction.exsd"/>
   <extension-point id="AtsWorkDefinitionSheetProvider" name="AtsWorkDefinitionSheetProvider" schema="OSEE-INF/extensionPts/AtsWorkDefinitionSheetProvider.exsd"/>
   <extension-point id="AtsTransitionListener" name="AtsTransitionListener" schema="OSEE-INF/extensionPts/AtsTransitionListener.exsd"/>
   <extension-point id="AtsXWidgetValidator" name="AtsXWidgetValidator" schema="OSEE-INF/extensionPts/AtsXWidgetValidator.exsd"/>
   <extension-point id="AtsProgramManager" name="AtsProgramManager" schema="OSEE-INF/extensionPts/AtsProgramManager.exsd"/>
   <extension-point id="AtsReviewProvider" name="AtsReviewProvider" schema="OSEE-INF/extensionPts/AtsReviewProvider.exsd"/>
   <extension-point id="AtsStateItemCore" name="AtsStateItemCore" schema="OSEE-INF/extensionPts/AtsStateItemCore.exsd"/>
   <extension point="org.eclipse.osee.framework.skynet.core.ArtifactFactory">
      <ArtifactFactory classname="org.eclipse.osee.ats.workflow.AtsArtifactFactory"/>
   </extension>
   <extension
         id="AtsArtifactChecks"
         name="AtsArtifactChecks"
         point="org.eclipse.osee.framework.skynet.core.ArtifactCheck">
      <ArtifactCheck classname="org.eclipse.osee.ats.workflow.AtsArtifactChecks"/>
   </extension>   
         <extension
         point="org.eclipse.ui.editors">
         <editor
            class="org.eclipse.osee.ats.editor.WorkflowEditor"
            icon="OSEE-INF/images/workflow.gif"
            default="false"            
            contributorClass="org.eclipse.osee.ats.editor.WfeContributor"
            id="org.eclipse.osee.ats.editor.WorkflowEditor"
            name="ATS Workflow Editor"/>
         <editor
               class="org.eclipse.osee.ats.workflow.task.TaskEditor"
               default="false"
               icon="OSEE-INF/images/task.gif"
               id="org.eclipse.osee.ats.editor.TaskEditor"
               name="ATS Task Editor"/>
         <editor
               class="org.eclipse.osee.ats.world.WorldEditor"
               default="false"
               icon="OSEE-INF/images/globe.gif"
               id="org.eclipse.osee.ats.world.WorldEditor"
               name="ATS World Editor">
         </editor>
         <editor
               class="org.eclipse.osee.ats.workdef.viewer.AtsWorkDefConfigEditor"
               default="false"
               icon="OSEE-INF/images/workDef.gif"
               id="org.eclipse.osee.ats.workdef.viewer.AtsWorkflowConfigEditor"
               name="ATS Work Definition Viewer">
         </editor>
   </extension>
      <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.osee.category"
            name="OSEE">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.eclipse.osee.category"
            class="org.eclipse.osee.ats.actions.wizard.NewActionWizard"
            hasPages="true"
            icon="OSEE-INF/images/action.gif"
            id="org.eclipse.osee.ats.NewAction.wizard"
            name="Action">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.eclipse.osee.category"
            class="org.eclipse.osee.ats.config.wizard.AtsConfigWizard"
            hasPages="true"
            icon="OSEE-INF/images/workflow.gif"
            id="org.eclipse.osee.ats.config.wizard.AtsConfigWizard"
            name="ATS Configuration">
      </wizard>
   </extension>
<extension point="org.eclipse.ui.perspectives">
   <perspective
         name="OSEE"
         class="org.eclipse.osee.ats.internal.OseePerspective"
         fixed="false"
         id="org.eclipse.osee.OseePerspective"
         icon="OSEE-INF/images/osee_16.png">
   </perspective>
   <perspective
         class="org.eclipse.osee.ats.workflow.review.ReviewPerspective"
         icon="OSEE-INF/images/review.gif"
         id="org.eclipse.osee.ats.review.ReviewPerspective"
         name="Review">
   </perspective>
</extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
            <perspectiveShortcut id="org.eclipse.osee.OseePerspective"/>
         </perspectiveExtension>
         <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
            <perspectiveShortcut id="org.eclipse.osee.OseePerspective"/>
         </perspectiveExtension>
         <perspectiveExtension targetID="org.eclipse.osee.OseePerspective">
            <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
            <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         </perspectiveExtension>
      </extension>
   <extension
      id="org.eclipse.osee.ats"
      name="ATS"
      point="org.eclipse.ui.views">
    <category
         name="OSEE"
         id="org.eclipse.osee.category"/>
    <category
         id="org.eclipse.osee.ats.review.category"
         name="OSEE Review">
    </category>
    <view
         class="org.eclipse.osee.ats.navigate.NavigateView"
         icon="OSEE-INF/images/osee_16.png"
         category="org.eclipse.osee.category"
         name="OSEE Navigator"
         id="org.eclipse.osee.navigate.NavigateView">
   </view>
    <view
         class="org.eclipse.osee.ats.walker.ActionWalkerView"
         icon="OSEE-INF/images/action.gif"
         category="org.eclipse.osee.category"
         name="Action View"
         id="org.eclipse.osee.ats.ActionWalkerView">
    </view>
   <view
         category="org.eclipse.osee.ats.review.category"
         class="org.eclipse.osee.ats.workflow.review.ReviewNavigateView"
         icon="OSEE-INF/images/review.gif"
         id="org.eclipse.osee.ats.review.ReviewNavigateView"
         name="ReviewNavigator">
   </view>
   </extension>
   <extension
         id="AtsDatabaseConfig"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
            classname="org.eclipse.osee.ats.config.AtsDatabaseConfig">
   	</DatabaseInitializationTask>
   </extension>
   <extension
         point="org.eclipse.osee.ats.AtsStateItem">
      <AtsStateItem classname="org.eclipse.osee.ats.editor.stateItem.AtsDecisionReviewPrepareStateItem"/>
      <AtsStateItem classname="org.eclipse.osee.ats.editor.stateItem.AtsDecisionReviewDecisionStateItem"/>
      <AtsStateItem
            classname="org.eclipse.osee.ats.editor.stateItem.AtsPeerToPeerReviewPrepareStateItem">
      </AtsStateItem>
      <AtsStateItem
            classname="org.eclipse.osee.ats.editor.stateItem.AtsPeerToPeerReviewReviewStateItem">
      </AtsStateItem>
      <AtsStateItem
            classname="org.eclipse.osee.ats.editor.stateItem.AtsForceAssigneesToTeamLeadsStateItem">
      </AtsStateItem>
   </extension>
   <extension
         id="OseeTypes_ATS"
         name="OseeTypes_ATS"
         point="org.eclipse.osee.framework.skynet.core.OseeTypes">
      <OseeTypes
            resource="OSEE-INF/orcsTypes/OseeTypes_ATS.osee">
      </OseeTypes>
   </extension>
   <extension
         id="TaskMetrics"
         name="TaskMetrics"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.operation.TaskMetrics">
      </Operation>
   </extension>
   <extension
         id="ats"
         point="org.eclipse.osee.framework.ui.skynet.ArtifactRenderer">
      <Renderer classname="org.eclipse.osee.ats.editor.renderer.AtsWERenderer"/>
      <Renderer classname="org.eclipse.osee.ats.workdef.editor.AtsWorkDefinitionDslRenderer"/>
      <Renderer classname="org.eclipse.osee.ats.workdef.editor.AtsRuleDefinitionDslRenderer"/>
      <Renderer
            classname="org.eclipse.osee.ats.workflow.task.AtsTaskEditorRenderer">
      </Renderer>
      <Renderer
            classname="org.eclipse.osee.ats.world.AtsWorldEditorRenderer">
      </Renderer>
      <Renderer
            classname="org.eclipse.osee.ats.workdef.viewer.AtsWorkDefConfigRenderer">
      </Renderer>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.DefaultInitialBranchProvider">
      <Provider class="org.eclipse.osee.ats.util.TeamBasedDefaultBranchProvider"/>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.ArtifactAnnotation">
      <ArtifactAnnotation
            classname="org.eclipse.osee.ats.util.AtsArtifactAnnotations">
      </ArtifactAnnotation>
   </extension>
   <extension
         id="ImportTasksFromSpreadsheet"
         name="ImportTasksFromSpreadsheet"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.util.Import.ImportTasksFromSpreadsheet">
      </Operation>
   </extension>
   <extension
         id="ImportTasksFromSimpleList"
         name="ImportTasksFromSimpleList"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.util.Import.ImportTasksFromSimpleList">
      </Operation>
   </extension>
   <extension
         id="AtsWidgetProvider"
         name="AtsWidgetProvider"
         point="org.eclipse.osee.framework.ui.skynet.XWidgetProvider">
      <XWidgetProvider
            classname="org.eclipse.osee.ats.util.widgets.AtsWidgetProvider">
      </XWidgetProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.osee.framework.ui.skynet.atseditor.command"
            name="ATS Workflow Editor">
      </command>
      <command
            id="org.eclipse.osee.framework.ui.skynet.atsworkdef.command"
            name="ATS Work Definition Editor">
      </command>
      <command
            id="osee.ats.actions.OpenArtifactExplorer"
            name="Open Artifact Explorer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.osee.framework.ui.skynet.atseditor.command"
            icon="OSEE-INF/images/action.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.ClientLoopbackCmd">
      <ClientLoopbackCmd
            className="org.eclipse.osee.ats.util.OpenInAtsLoopbackCmd">
      </ClientLoopbackCmd>
   </extension>
   <extension
         id="DuplicateWorkflowBlam"
         name="DuplicateWorkflowBlam"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.operation.DuplicateWorkflowBlam">
      </Operation>
   </extension>
   <extension
         id="ModifyActionableItemsBlam"
         name="ModifyActionableItemsBlam"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.operation.ModifyActionableItemsBlam">
      </Operation>
   </extension>
   <extension
         point="org.eclipse.osee.ats.AtsWorldEditorItem">
      <AtsWorldEditorItem
            classname="org.eclipse.osee.ats.world.AtsWorldEditorItem">
      </AtsWorldEditorItem>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactImageProvider">
      <ArtifactImageProvider
            class="org.eclipse.osee.ats.AtsArtifactImageProvider">
      </ArtifactImageProvider>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.AttributeXWidgetProvider">
      <AttributeXWidgetProvider
            classname="org.eclipse.osee.ats.util.widgets.AtsAttributeXWidgetProvider">
      </AttributeXWidgetProvider>
   </extension>
   <extension
         id="CopyAtsConfigurationBlam"
         name="CopyAtsConfigurationBlam"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.config.copy.CopyAtsConfigurationBlam">
      </Operation>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.plugin.XCommonNavigateItem">
      <XCommonNavigateItem
            classname="org.eclipse.osee.ats.navigate.NavigateViewItems">
      </XCommonNavigateItem>
      <XCommonNavigateItem
            classname="org.eclipse.osee.ats.workflow.review.ReviewNavigateViewItems">
      </XCommonNavigateItem>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="OSEE Category"
            id="osee.ats.product.commands.category">
      </category>
      <command
            name="OSEE"
            categoryId="osee.product.commands.category"
            id="org.eclipse.osee.actions.OpenOseePerspective">
      </command>
      <command
            name="OSEE Review"
            categoryId="osee.ats.product.commands.category"
            id="org.eclipse.osee.ats.actions.OpenReviewPerspective">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.osee.actions.OpenOseePerspective"
            class="org.eclipse.osee.ats.actions.OpenOseePerspectiveHandler"> 
      </handler>
      <handler
            commandId="org.eclipse.osee.ats.actions.OpenReviewPerspective"
            class="org.eclipse.osee.ats.actions.OpenReviewPerspectiveHandler">  
      </handler>
      <handler
            commandId="osee.ats.actions.OpenArtifactExplorer"
            class="org.eclipse.osee.ats.actions.OpenArtifactExplorerHandler">  
      </handler>
   </extension>
   <extension point="org.eclipse.ui.commandImages">
     <image commandId="org.eclipse.osee.actions.OpenOseePerspective" icon="OSEE-INF/images/osee_16.png"> </image>
     <image commandId="org.eclipse.osee.ats.actions.OpenReviewPerspective" icon="OSEE-INF/images/review.gif"> </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="OSEE"
               mnemonic="O"
               id="osee.product.oseeMenu">
            <command commandId="org.eclipse.osee.actions.OpenOseePerspective"
                  mnemonic="A"
                  id="org.eclipse.osee.actions.OpenOseePerspective">
            </command>
            <command commandId="org.eclipse.osee.ats.actions.OpenReviewPerspective"
                  mnemonic="R"
                  id="org.eclipse.osee.ats.actions.OpenReviewPerspective">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="osee.ats.toolbar">
            <command
                  commandId="osee.ats.actions.OpenArtifactExplorer"
                  icon="OSEE-INF/images/artifact_explorer.gif"
                  id="osee.ats.actions.OpenArtifactExplorer"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      
   </extension>
   
   
      <extension
            id="AtsTransitionListener"
            name="AtsTransitionListener"
            point="org.eclipse.osee.ats.AtsTransitionListener">
         <AtsTransitionListener
               classname="org.eclipse.osee.ats.editor.stateItem.AtsDecisionReviewPrepareStateItem">
         </AtsTransitionListener>
         <AtsTransitionListener
               classname="org.eclipse.osee.ats.editor.stateItem.AtsForceAssigneesToTeamLeadsStateItem">
         </AtsTransitionListener>
         <AtsTransitionListener
               classname="org.eclipse.osee.ats.notify.AtsNotificationTransitionListener">
         </AtsTransitionListener>
         <AtsTransitionListener
               classname="org.eclipse.osee.ats.editor.stateItem.AtsPeerToPeerReviewReviewStateItem">
         </AtsTransitionListener>
      </extension>
      <extension
            id="AtsUserNavigateItems"
            name="AtsUserNavigateItems"
            point="org.eclipse.osee.framework.ui.skynet.UserNavigateItem">
         <UserNavigateItem
               classname="org.eclipse.osee.ats.util.AtsUserNavigateItems">
         </UserNavigateItem>
      </extension>
   <extension
         id="DetailedTestStatusOld" name="DetailedTestStatusOld"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation className="org.eclipse.osee.ats.operation.DetailedTestStatusOld"/>
   </extension>
   <extension
         id="DetailedTestStatus" name="DetailedTestStatus"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation className="org.eclipse.osee.ats.operation.DetailedTestStatusBlam"/>
   </extension>
   <extension
         id="CreateWorkingBranchFromTx"
         name="CreateWorkingBranchFromTx"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.operation.CreateWorkingBranchFromTxBlam">
      </Operation>
   </extension>
   <extension
         id="CreateActionFromTaskBlam"
         name="CreateActionFromTaskBlam"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.operation.CreateActionFromTaskBlam">
      </Operation>
   </extension>
   <extension
         id="PortPairsBlam"
         name="PortPairsBlam"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.PortPairsBlam">
      </Operation>
   </extension>
   <extension
         id="CreatePortingWorkflows"
         name="CratePortingWorkflows"
         point="org.eclipse.osee.framework.ui.skynet.BlamOperation">
      <Operation
            className="org.eclipse.osee.ats.WorkflowPortingBlam">
      </Operation>
   </extension>
   <extension
         id="org.eclipse.osee.ats.WEEditorInputFactory"
         name="WEEditor Input Factory"
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.osee.ats.editor.WfeInputFactory"
            id="org.eclipse.osee.ats.WEEditorInputFactory">
      </factory>
   </extension>
   <extension
         id="org.eclipse.osee.ats.world.WorldEditorInputFactory"
         name="World Editor Input Factory"
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.osee.ats.world.WorldEditorInputFactory"
            id="org.eclipse.osee.ats.WorldEditorInputFactory">
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.osee.framework.ui.skynet.OseePreferencePage"
            class="org.eclipse.osee.ats.config.AtsConfigPreferencePage"
            id="atsConfigPreferencePage"
            name="ATS">
      </page>
   </extension>
   <extension
         id="AtsArtifactEditorProvider"
         name="AtsArtifactEditorProvider"
         point="org.eclipse.osee.framework.ui.skynet.ArtifactEditorProvider">
      <ArtifactEditorProvider
            classname="org.eclipse.osee.ats.util.widgets.AtsArtifactEditorProvider">
      </ArtifactEditorProvider>
   </extension>
   
</plugin>
