<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  == Copyright (c) 2022 Boeing
  ==
  == This program and the accompanying materials are made
  == available under the terms of the Eclipse Public License 2.0
  == which is available at https://www.eclipse.org/legal/epl-2.0/
  ==
  == SPDX-License-Identifier: EPL-2.0
  ==
  == Contributors:
  ==     Boeing - initial API and implementation
  -->
<plugin>
   <extension-point id="TraceUnitHandler" name="TraceUnitHandler" schema="OSEE-INF/extensionPts/TraceUnitHandler.exsd"/>
      <extension
            point="org.eclipse.ui.importWizards">
         <category
               id="org.eclipse.osee.define.import.category"
               name="OSEE">
         </category>
         <wizard
               category="org.eclipse.osee.define.import.category"
               class="org.eclipse.osee.define.ide.traceability.ImportTraceabilityWizard"
               icon="OSEE-INF/images/relate.gif"
               id="osee.define.traceability.ImportTraceabilityWizard"
               name="Traceability into OSEE">
            <description>
               Import Skynet relations.
            </description>
         </wizard>
      </extension>
      <extension
            point="org.eclipse.ui.importWizards">
         <category
               id="org.eclipse.osee.define.import.category"
               name="OSEE">
         </category>
         <wizard
               category="org.eclipse.osee.define.import.category"
               class="org.eclipse.osee.define.ide.traceability.importer.ImportTraceUnitWizard"
               icon="OSEE-INF/images/importTrace.gif"
               id="ImportTraceUnitsWizard"
               name="Trace Units Into OSEE">
            <description>
               Imports trace units into OSEE and updates relations.
            </description>
         </wizard>
      </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactRendererTemplate">
      <Template
            presentationType="ALL"
            templateFile="OSEE-INF/templates/Work_Instruction_Template.xml"
            templateName="Work Instruction">
      </Template>
   </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="traceFind"
          targetID="#CompilationUnitEditorContext">
       <action
             class="org.eclipse.osee.define.ide.traceability.action.FindTraceUnitEditorAction"
             icon="OSEE-INF/images/artifact_search.gif"
             id="org.eclipse.osee.define.action.FindTraceUnitFromResource"
             label="Find Trace Unit Artifact"
             menubarPath="org.eclipse.jdt.ui.source.menu"
             tooltip="Searches for trace units in OSEE">
       </action>
    </viewerContribution>
    <objectContribution
          adaptable="true"
          id="osee.database.projectContribution"
          objectClass="org.eclipse.core.resources.IResource">
       <action
             class="org.eclipse.osee.define.ide.traceability.action.FindTraceUnitActionDelegate"
             icon="OSEE-INF/images/artifact_search.gif"
             id="org.eclipse.osee.define.action.FindTraceUnitFromResource2"
             label="Find Trace Unit Artifact"
             menubarPath="additions"
             state="true"
             style="push"
             tooltip="Searches for trace units in OSEE">
       </action>
    </objectContribution>
 </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="OSEE Category"
            id="osee.product.commands.category">
      </category>
   </extension>
</plugin>
