<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="XNavigateItem" name="XNavigateItem" schema="OSEE-INF/extensionPts/XNavigateItem.exsd"/>
   <extension-point id="PropertyStoreControl" name="PropertyStoreControl" schema="OSEE-INF/extensionPts/PropertyStoreControl.exsd"/>
   <extension-point id="XCommonNavigateItem" name="XCommonNavigateItem" schema="OSEE-INF/extensionPts/XCommonNavigateItem.exsd"/>
   <extension-point id="WorkbenchTargetProvider" name="WorkbenchTargetProvider" schema="OSEE-INF/extensionPts/WorkbenchTargetProvider.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.osee.framework.ui.plugin.workspace.EarlyStartup">
      </startup>
   </extension>

</plugin>
