<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <category
            name="OSEE Admin"
            id="osee.admin">
      </category>
      <view
            name="OSEE Admin"
            icon="images/admin.gif"
            category="osee.jdk.core.category"
            class="org.eclipse.osee.framework.ui.admin.AdminView"
            id="osee.admin.AdminView">
      </view>
   </extension>

</plugin>
