<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/osee/ats/dsl/AtsDsl" 
       class = "org.eclipse.osee.ats.dsl.atsDsl.AtsDslPackage"
       genModel = "org/eclipse/osee/ats/dsl/AtsDsl.genmodel" /> 
	
  </extension>





</plugin>
