<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="FrameworkAccessConfig"
         name="FrameworkAccessConfig"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.framework.access.provider.internal.config.FrameworkAccessConfig">
      </DatabaseInitializationTask>
   </extension>

</plugin>
