<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="server"
         name="OTE Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.osee.ote.core.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="server"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.osee.ote.core.server"
            name="OteServerStandalone">
         <property
               name="appName"
               value="OteServerStandalone">
         </property>
      </product>
   </extension>
</plugin>
