<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         id="TestInterface"
         name="TestInterface"
         point="org.eclipse.osee.framework.jini.JiniInterface">
      <Interface classname="org.eclipse.osee.ote.core.environment.jini.ITestEnvironmentCommandCallback"/>
      <Interface classname="org.eclipse.osee.ote.core.environment.interfaces.IRemoteCommandConsole"/>
      <Interface
            classname="org.eclipse.osee.ote.core.environment.status.IServiceStatusData">
      </Interface>
      <Interface
            classname="org.eclipse.osee.ote.core.environment.status.IServiceStatusDataCommand">
      </Interface>
      </extension>
   <extension
         id="TestBundle"
         name="TestBundle"
         point="org.eclipse.osee.framework.jini.JiniInterface">
      <RegisterBundle/>
   </extension>
   <extension
         id="server"
         name="OTE Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.osee.ote.core.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="server"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.osee.ote.core.server"
            name="ote.server">
         <property
               name="appName"
               value="ote.server">
         </property>
      </product>
   </extension>
</plugin>
