<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
     <extension
         point="org.eclipse.osee.framework.jini.JiniInterface">
      <RegisterBundle/>
   </extension>
     <extension
           point="org.eclipse.help.toc">
        <toc
              file="help/toc.xml"
              primary="false">
        </toc>
     </extension>

</plugin>
