<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="OteSystemLibsNature"
         name="OTE System Libraries Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.osee.ote.runtimemanager.OteSystemLibsNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="OteUserLibsNature"
         name="OTE User Libraries Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.osee.ote.runtimemanager.OteUserLibsNature">
         </run>
      </runtime>
   </extension>
   
  <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.osee.ote.runtimemanager.EarlyStartup">
      </startup>
   </extension>
  <extension
        point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer
           class="org.eclipse.osee.ote.runtimemanager.container.OteClasspathContainerInitializer"
           id="OTE Library">
     </classpathContainerInitializer>
  </extension>
  <extension
        point="org.eclipse.jdt.ui.classpathContainerPage">
     <classpathContainerPage
           class="org.eclipse.osee.ote.runtimemanager.container.OteContainerPage"
           id="org.eclipse.osee.ote.runtimeManager.container.OTE_CONTAINER"
           name="OTE Library">
     </classpathContainerPage>
  </extension>

</plugin>
