<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="DatabaseInitializationConfiguration" name="DatabaseInitializationConfiguration" schema="OSEE-INF/extensionPts/DatabaseInitializationConfiguration.exsd"/>
   <extension-point id="DatabaseInitializationTask" name="DatabaseInitializationTask" schema="OSEE-INF/extensionPts/DatabaseInitializationTask.exsd"/>
   <extension
         id="configClient"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.osee.framework.database.init.internal.ConfigDatabaseApplication"/>
      </application>
   </extension>
	<extension
			id="PostDatabaseInitialization"
      	point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
      	   classname="org.eclipse.osee.framework.database.init.internal.PostDatabaseInitialization">
      </DatabaseInitializationTask>
	</extension>
	<extension
			id="PostDbUserCleanUp"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
      	   classname="org.eclipse.osee.framework.database.init.internal.PostDbUserCleanUp">
   	</DatabaseInitializationTask>
	</extension>
	<extension
			id="SimpleTemplateProviderTask"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
      	   classname="org.eclipse.osee.framework.database.init.internal.SimpleTemplateProviderTask">
   	</DatabaseInitializationTask>
	</extension>
	<extension
			id="SkynetDbBranchDataImport"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
      	   classname="org.eclipse.osee.framework.database.init.internal.SkynetDbBranchDataImport">
   	</DatabaseInitializationTask>
	</extension>
	<extension
			id="DbBootstrapTask"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
      	   classname="org.eclipse.osee.framework.database.init.internal.DbBootstrapTask">
   	</DatabaseInitializationTask>
	</extension>
 <extension
       point="org.eclipse.osee.framework.database.init.DatabaseInitializationConfiguration">
    <DatabaseInitializationConfiguration
          classname="org.eclipse.osee.framework.database.init.internal.AddBaseDbInitChoice">
    </DatabaseInitializationConfiguration>
 </extension>
</plugin>
 