<configuration debug="true">
	<!-- See documentation at http://logback.qos.ch/manual/joran.html -->

	<!-- To select this configuration add -Dlogback.configurationFile=logback-dev.xml -->
	<!-- Set attribute debug="true" to configuration xml element to trace logback configuration -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%-40(%d{HH:mm:ss.SSS} [%-25.25logger{26}] %-5level) - %msg%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<!-- Configure OSEE log messages -->
	<logger name="org.eclipse.osee.orcs.db" level="TRACE" />
	<logger name="org.eclipse.osee.database" level="TRACE" />
	<!-- <logger name="org.eclipse.osee.orcs.core" level="TRACE" /> -->
	<logger name="org.eclipse.osee.framework.core.server" level="INFO" />

	<!-- <logger name="org.apache.cxf" level="INFO" /> -->
	<!-- <logger name="org.eclipse.osee.hsqldb" level="DEBUG" /> -->

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>