<configuration>
	<!-- See documentation at http://logback.qos.ch/manual/joran.html -->
	
	<!-- To select this configuration add -Dlogback.configurationFile=logback-dev.xml -->
	<!-- Set attribute debug="true" to configuration xml element to trace logback configuration -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- Configure OSEE log messages -->
	<logger name="org.eclipse.osee" level="INFO" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>