<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.DslGrammar">
      <DslGrammar
            classname="org.eclipse.osee.orcs.script.dsl.ui.integration.internal.OrcsScriptDslGrammar"></DslGrammar>
   </extension>
   <extension
         point="org.eclipse.osee.orcs.script.dsl.ui.OrcsObjectProvider">
      <OrcsObjectProvider
            classname="org.eclipse.osee.orcs.script.dsl.ui.integration.internal.OrcsObjectProviderImpl">
      </OrcsObjectProvider>
   </extension>
   <extension
         point="org.eclipse.osee.orcs.script.dsl.ui.OrcsImageProvider">
      <OrcsImageProvider
            classname="org.eclipse.osee.orcs.script.dsl.ui.integration.internal.OrcsImageProviderImpl">
      </OrcsImageProvider>
   </extension> 
</plugin>
