<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="org.eclipse.osee.ats.ide.help.ui.docs"
         name="OSEE ATS User&apos;s Guide"
         point="org.eclipse.help.toc">
      <toc
            category="OSEE"
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
 <extension
       point="org.eclipse.ui.intro.configExtension">
    <configExtension
          configId="org.eclipse.ui.intro.universalConfig"
          content="$nl$/intro/overviewExtensionContent.xml">
    </configExtension>
    <configExtension
          configId="org.eclipse.ui.intro.universalConfig"
          content="$nl$/intro/tutorialsExtensionContent.xml">
    </configExtension>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts/contexts.xml">
    </contexts>
 </extension>
</plugin>
