<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.help.toc">
        <toc
            category="OSEE"
            file="book.xml"
            primary="true">
        </toc>
    </extension>
    <extension point="org.eclipse.help.toc">
        <toc
            category="OSEE"
            file="docs/Intro-toc.xml">
        </toc>
        <toc
            category="OSEE"
            file="docs/Views-toc.xml">
        </toc>
        <toc
            category="OSEE"
            file="docs/Usage-toc.xml">
        </toc>
        <toc
            category="OSEE"
            file="docs/Tips-toc.xml">
        </toc>
        <toc
            category="OSEE"
            file="docs/New-toc.xml">
        </toc>
    </extension>
    <extension
        point="org.eclipse.ui.intro.configExtension">
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overviewExtensionContent.xml">
        </configExtension>
        <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml">
        </configExtension>
    </extension>
    <extension
        point="org.eclipse.help.contexts">
        <contexts
            file="contexts/contexts.xml">
        </contexts>
    </extension>
</plugin>
