<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="AddDemoUsers"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.client.demo.internal.AddDemoUsers">
      </DatabaseInitializationTask>
   </extension>
   <extension
         id="AddSawBranch"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.client.demo.internal.AddSawBranch">
      </DatabaseInitializationTask>
   </extension>
   <extension
         id="AddCisBranch"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.client.demo.internal.AddCisBranch">
      </DatabaseInitializationTask>
   </extension>
   <extension
         id="AddRequirementData"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
      <DatabaseInitializationTask
            classname="org.eclipse.osee.client.demo.internal.AddRequirementData">
      </DatabaseInitializationTask>
   </extension>      
   <extension
       point="org.eclipse.osee.framework.database.init.DatabaseInitializationConfiguration">
    <DatabaseInitializationConfiguration
          classname="org.eclipse.osee.client.demo.internal.AddClientDemoInitConfig">
    </DatabaseInitializationConfiguration>
    </extension>
   <extension
         id="DemoTraceUnitHandler"
         name="DemoTraceUnitHandler"
         point="org.eclipse.osee.define.ide.TraceUnitHandler">
      <TraceUnitHandler
            TraceUnitParser="org.eclipse.osee.client.demo.internal.traceability.DemoTraceParser"
            TraceUnitResourceLocator="org.eclipse.osee.client.demo.internal.traceability.DemoTraceUnitResourceLocator">
      </TraceUnitHandler>
   </extension>
   <extension
         id="OseeTypes_ClientDemo"
         name="OseeTypes_ClientDemo"
         point="org.eclipse.osee.framework.skynet.core.OseeTypes">
      <OseeTypes resource="OSEE-INF/orcsTypes/OseeTypes_ClientDemo.osee">
      </OseeTypes>
   </extension>
</plugin>
