<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="OTEPackagingBuilder"
         name="OTE Packaging Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.osee.ote.ui.builder.OTEPackagingBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="OTEPackagingNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.osee.ote.ui.builder.OTEPackagingNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.osee.ote.ui.builder.OTEPackagingBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.osee.ote.ui.builder.addRemoveNatureCommand"
               label="Add/Remove OTE Packaging Nature">
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.osee.ote.ui.builder.ToggleNatureHandler"
            id="org.eclipse.osee.ote.ui.builder.addRemoveNatureCommand"
            name="addRemoveNatureCommand">
      </command>
   </extension>
   
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.osee.framework.ui.skynet.OseePreferencePage"
            class="org.eclipse.osee.ote.ui.builder.OTEBuilderPreferencePage"
            id="org.eclipse.osee.ote.ui.builder.OTEBuilderPreferencePage"
            name="OTE Builder">
      </page>
   </extension>

</plugin>
