<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.osee.ats.reports.AtsReportItem">
      <AtsReportItem
            classname="org.eclipse.osee.ats.reports.split.ui.DistributionAtsReport">
      </AtsReportItem>
   </extension>

</plugin>
