<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactRenderer">
      <Renderer
            classname="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslRenderer">
      </Renderer>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.DslGrammar">
      <DslGrammar
            classname="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslGrammar"></DslGrammar>
   </extension>
</plugin>
