<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.osee.define.import.category"
            class="org.eclipse.osee.framework.core.dsl.ui.integration.wizards.OseeTypesImportWizard"
            icon="images/gears.gif"
            id="org.eclipse.osee.framework.types.bridge.osee.types.import"
            name="Osee Types Import">
         <description>
            Imports OSEE Types
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.osee.framework.ui.skynet.export"
            class="org.eclipse.osee.framework.core.dsl.ui.integration.wizards.OseeTypesExportWizard"
            icon="images/gears.gif"
            id="org.eclipse.osee.framework.types.bridge.osee.types.export"
            name="Osee Types Export">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.osee.framework.skynet.core.OseeTypesHandler">
      <OseeTypesHandler
            classname="org.eclipse.osee.framework.core.dsl.ui.integration.operations.XtextOseeTypesHandler">
      </OseeTypesHandler>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactRenderer">
      <Renderer
            classname="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslRenderer">
      </Renderer>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.osee.framework.core.dsl.OseeDsl.editor.command"
            name="OseeDsl Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslEditorHandler"
            commandId="org.eclipse.osee.framework.core.dsl.OseeDsl.editor.command">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
