<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactRenderer">
      <Renderer
            classname="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslRenderer">
      </Renderer>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.osee.framework.core.dsl.OseeDsl.editor.command"
            name="OseeDsl Editor">
      </command>
      <command
            id="org.eclipse.osee.framework.core.dsl.OseeDslTypeSheet.editor.command"
            name="Osee Type Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslEditorHandler"
            commandId="org.eclipse.osee.framework.core.dsl.OseeDsl.editor.command">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslEditorHandler"
            commandId="org.eclipse.osee.framework.core.dsl.OseeDslTypeSheet.editor.command">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.DslGrammar">
      <DslGrammar
            classname="org.eclipse.osee.framework.core.dsl.ui.integration.internal.OseeDslGrammar"></DslGrammar>
   </extension>
</plugin>
