<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
       point="org.eclipse.osee.framework.database.init.DatabaseInitializationConfiguration">
    <DatabaseInitializationConfiguration
          classname="org.eclipse.osee.ats.client.demo.config.AddDbInitDemoChoice">
    </DatabaseInitializationConfiguration>
 </extension>
      <extension
      	id="DemoDatabaseConfig"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
   			rule="org.eclipse.osee.framework.database.init.NotOnProductionDbInitializationRule"
      	   classname="org.eclipse.osee.ats.client.demo.config.DemoDatabaseConfig">
   	</DatabaseInitializationTask>
	</extension>
      <extension
      	id="DemoWebDatabaseConfig"
         point="org.eclipse.osee.framework.database.init.DatabaseInitializationTask">
   	<DatabaseInitializationTask
   			rule="org.eclipse.osee.framework.database.init.NotOnProductionDbInitializationRule"
      	   classname="org.eclipse.osee.ats.client.demo.config.DemoWebDatabaseConfig">
   	</DatabaseInitializationTask>
	</extension>
   <extension
         point="org.eclipse.osee.ats.AtsNavigateItem">
      <AtsNavigateItem
            classname="org.eclipse.osee.ats.client.demo.navigate.DemoNavigateViewItems">
      </AtsNavigateItem>
   </extension>
   <extension
         id="OseeTypes_Demo"
         name="OseeTypes_Demo"
         point="org.eclipse.osee.framework.skynet.core.OseeTypes">
      <OseeTypes
            resource="OSEE-INF/orcsTypes/OseeTypes_Demo.osee">
      </OseeTypes>
   </extension>
   <extension
         point="org.eclipse.osee.framework.ui.skynet.ArtifactImageProvider">
      <ArtifactImageProvider
            class="org.eclipse.osee.ats.client.demo.artifact.DemoArtifactImageProvider">
      </ArtifactImageProvider>
   </extension>
   <extension
         id="DemoWorkDefinitionSheetProvider"
         name="DemoWorkDefinitionSheetProvider"
         point="org.eclipse.osee.ats.AtsWorkDefinitionSheetProvider">
      <AtsWorkDefinitionSheetProvider
            classname="org.eclipse.osee.ats.client.demo.config.DemoWorkDefinitionSheetProvider"
            db_type="demo">
      </AtsWorkDefinitionSheetProvider>
   </extension>
   <extension
         id="DemoTraceUnitHandler"
         name="DemoTraceUnitHandler"
         point="org.eclipse.osee.define.ide.TraceUnitHandler">
      <TraceUnitHandler
            TraceUnitParser="org.eclipse.osee.ats.client.demo.traceability.DemoTraceParser"
            TraceUnitResourceLocator="org.eclipse.osee.ats.client.demo.traceability.DemoTraceUnitResourceLocator">
      </TraceUnitHandler>
   </extension>
</plugin>