<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="IDbInitializationTask" name="DbInitializationTask" schema="schema/IDbInitializationTask.exsd"/>
   <extension-point id="AddDbInitChoice" name="Add Database Initialization Choice" schema="schema/AddDbInitChoice.exsd"/>
   <extension
         id="configClient"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.osee.framework.database.ConfigDatabase"/>
      </application>
   </extension>

<extension
      id="BackupTableData"
      point="org.eclipse.osee.framework.database.IDbInitializationTask">
   <DatabaseTask
         classname="org.eclipse.osee.framework.database.initialize.tasks.relational.BackupTableData"/>
</extension>
<extension
      id="RestoreTableData"
      point="org.eclipse.osee.framework.database.IDbInitializationTask">
   <DatabaseTask
         classname="org.eclipse.osee.framework.database.initialize.tasks.relational.RestoreTableData"/>
</extension>
<extension
      id="ImportDataFromDbService"
      point="org.eclipse.osee.framework.database.IDbInitializationTask">
   <DatabaseTask
         classname="org.eclipse.osee.framework.database.initialize.tasks.ImportDataFromDbService"/>
</extension>
<extension
      id="availableDbTasks"
      name="availableDbTasks"
      point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.osee.framework.database.PlatformRunnableAvailableInitTasks"/>
   </application>
</extension>
<extension
      id="PostDbInitializationProcess"
      name="PostDbInitializationProcess"
      point="org.eclipse.osee.framework.database.IDbInitializationTask">
   <DatabaseTask
         classname="org.eclipse.osee.framework.database.initialize.tasks.PostDatabaseInitialization">
   </DatabaseTask>
</extension>

    
</plugin>
