<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="InstallJob" name="InstallJob" schema="schema/InstallJob.exsd"/>
   <extension
         id="OseeInstallHandler"
         name="Custom Install Handler"
         point="org.eclipse.update.core.installHandlers">
      <install-handler class="osee.updater.OseeInstallHandler"/>
   </extension> 

</plugin>
