name: rust-pr
on:
  pull_request:

jobs:
  cargo-pr:
    permissions:
        contents: read
        checks: write
        pull-requests: write
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    # TODO: add a matrix here to run on macos-latest, ubuntu-latest, windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            **/Cargo.lock
            **/Cargo.toml
            cli/**/*
            !.github/workflows/rust_pr.yml

      - uses: Swatinem/rust-cache@v2
        if: steps.changed-files.outputs.any_changed == 'true'

      - name: cargo setup
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: dtolnay/rust-toolchain@stable
        with:
            components: clippy
            # note this is a comma separated list, so you can add rustfmt if mbrobbel/rustfmt-check could run on non-nightly.


      - name: build
        if: steps.changed-files.outputs.any_changed == 'true'
        run: cargo build --release

      - name: test
        if: steps.changed-files.outputs.any_changed == 'true'
        run: cargo test

      - name: clippy
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: auguwu/clippy-action@1.4.0
        with:
            token: ${{ github.token }}

      - uses: dtolnay/rust-toolchain@nightly
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          components: rustfmt

      - name: rustfmt
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: mbrobbel/rustfmt-check@master
        with:
            token: ${{ github.token }}
            
      - name: create artifact ref
        id: artifact_ref
        uses: ./.github/actions/artifact-current-ref

      - name: upload bat
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: bat-${{matrix.os}}${{steps.artifact_ref.outputs.artifact_current_ref}}
          path: target/release/bat*

      - name: upload pat
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: pat-${{matrix.os}}${{steps.artifact_ref.outputs.artifact_current_ref}}
          path: target/release/pat*

      - name: upload java_rust_ffi
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: java-rust-ffi-${{matrix.os}}${{steps.artifact_ref.outputs.artifact_current_ref}}
          path: target/release/java_rust_ffi*

  bazel-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            **/Cargo.lock
            **/Cargo.toml
            cli/**/*
            **/WORKSPACE
            **/MODULE.bazel.lock
            **/MODULE.bazel
            !.github/workflows/rust_pr.yml

      - uses: bazel-contrib/setup-bazel@0.8.5
        with:
            bazelisk-cache: true
            disk-cache: ${{ github.workflow }}
            repository-cache: true

      - name: build
        if: steps.changed-files.outputs.any_changed == 'true'
        run: bazel build //cli/...:all

      - name: test
        if: steps.changed-files.outputs.any_changed == 'true'
        run: bazel test //cli/...:all