<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.osee.framework.ui.data.model.editor.core.ODMEditor"
            contributorClass="org.eclipse.osee.framework.ui.data.model.editor.core.ODMEditorActionBarContributor"
            extensions="xml"
            icon="images/workflowConfig.gif"
            id="org.eclipse.osee.framework.ui.data.model.editor.ODMEditor"
            name="OSEE Data Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.osee.framework.ui.data.model.editor.OpenODMEditor"
            description="Opens the Osee Data Model Editor"
            id="org.eclipse.osee.framework.ui.data.model.editor.command.ODMOpen"
            name="Open Osee Data Model Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.osee.framework.ui.skynet.branch.BranchView">
         <command
               commandId="org.eclipse.osee.framework.ui.data.model.editor.command.ODMOpen"
               icon="images/workflowConfig.gif"
               style="push"
               tooltip="Opens the Osee Data Model Editor">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.osee.framework.ui.data.model.editor.export"
            name="OSEE">
      </category>
      <wizard
            category="OSEE"
            class="org.eclipse.osee.framework.ui.data.model.editor.wizard.ODMExportWizard"
            id="org.eclipse.osee.framework.ui.data.model.editor.export.wizard"
            name="OSEE Data Model Export Wizard">
         <description>
            A wizard to export OSEE Data Model Types
         </description>
      </wizard>
   </extension>
</plugin>
